/* Turn.js Styles */
#flipbook {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#flipbook .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

#flipbook .hard {
  background: #ccc !important;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
  font-weight: bold;
}


/* Turn.js core animations */
.turn-page {
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.animated {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}

.turn-page-wrapper {
  perspective: 2000px;
}

.turn-page {
  transform-style: preserve-3d;
}

/* Custom page styling for architecture projects */
.flipbook-page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flipbook-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
  pointer-events: none;
}

.flipbook-page .project-title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  z-index: 10;
}